
<!--footer start-->
<div id="footer">
<div class="inner">
  <p>
    <a href="/">网站首页</a> | 
    <a href="/About/Introduction">关于我们</a> | 
    <a href="/Contact">联系方式</a> | 
    <a href="/Sitemap">网站地图</a>
  </p>
  <p>版权所有 &#169; 2011-2013 北京诺达佳自动化技术有限公司，保留所有权利&#160;&#160;&#160;&#160;&#160;&#160;京ICP备18032387号        
  </p>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F79774642e4a102de09caa37eafea56e5' type='text/javascript'%3E%3C/script%3E"));
</script></div>
</div>
<!--footer end -->


</div>
</body>
</html>
