<!--body start-->
<div id="body">
	<!--focus start-->
	<div id="InnerBanner">

	</div>
	<!--foncus end-->
	<div class="HeightTab clearfix"></div>
	<!--inner start -->
	<div class="inner mainmiddle">


	<!--left start-->
	<div class="left">
		<div class="Sbox">
			<div class="kong"></div>

			{php $ZHpar = '0,17';}

				{pc:get sql="SELECT catid,arrparentid,catname,catdir FROM u_category WHERE catid=$catid" num="1" return="parCat"}	
				<?php 
				$parCat_str1 = str_replace($ZHpar.',','',$parCat[0]['arrparentid']);
				$parCat_str2 = str_replace($ZHpar,'',$parCat_str1);
				?>
					{if !empty($parCat_str2)}
						<?php 
						$dat = explode(',',$parCat_str2); 
						$parCatid = $dat[0];
						?>
						{pc:get sql="SELECT catid,catname,catdir FROM u_category WHERE catid=$parCatid" num='1'}
							<div class="topic"> {$data[0]['catname']}
								<span style="font-size: 13px;color: #999999;">{$data[0]['catdir']}</span>
							</div>
						{/pc}
					{else}
					<div class="topic"> {$parCat[0]['catname']} 
						<span style="font-size: 13px;color: #999999;">{$parCat[0]['catdir']}</span>
					</div>
					{/if}
				{/pc}

			{if $parCat[0]['catid']==11 OR $data[0]['catid']==11}
		    <div class="ClassNav">
		    	<div class="NavTree">
		    	<ul>
		    		{if isset($parCatid) And !empty($parCatid) }
			    		{php $arrPar = $ZHpar.','.$parCatid;}
			    		{pc:get sql="SELECT catid,catname,url,child,arrchildid FROM u_category WHERE arrparentid='$arrPar' ORDER BY listorder ASC" num="8"}
			    		{loop $data $v}
							<li style="overflow: hidden;" {if $v['catid']==$catid} class='current' {/if}>
				    			<a href="{$v['url']}" title="{$v['catname']}">{$v['catname']}</a>
				    			{if ($v['child']==1) And ($v['catid']==$catid OR in_array($catid,explode(',',$v['arrchildid'])))}
				    			{php $thisCatid = $v['catid'];}
				    			{pc:get sql="SELECT catid,catname,url FROM u_category WHERE parentid='$thisCatid' ORDER BY listorder ASC" num="8" return="dat"}
				    			<ul>
				    			{loop $dat $r}
				    			<li style="overflow: hidden;" {if $r['catid']==$catid} class='current' {/if}><a href="{$r['url']}" title="{$r['catname']}">{$r['catname']}</a></li> 
				    			{/loop}			    			
				    			</ul>
				    			{/pc}	
				    			{/if}
				    		</li> 
						{/loop}
			    		{/pc}
		    		{/if}
		    	</ul>
		    	</div>
		    </div>
		    {else}
		    <div class="blank">
		    	<ul>
		    		{if isset($parCatid) And !empty($parCatid) }
			    		{php $arrPar = $ZHpar.','.$parCatid;}
			    		{pc:get sql="SELECT catid,catname,url,child FROM u_category WHERE arrparentid='$arrPar' ORDER BY listorder ASC" num="8"}
			    		{loop $data $v}
							<li style="overflow: hidden;" {if $v['catid']==$catid} class='current' {/if}>
				    			<a href="{$v['url']}" title="{$v['catname']}">{$v['catname']}</a>
				    		</li> 
						{/loop}
			    		{/pc}
		    		{/if}
		    	</ul>
		    </div>
		    {/if}

	    </div>
        <div class="Sbox">
        	<div class="kong2"></div>
			<div class="kkleft-hg kkleft-img1">
				<a href="/ZH/Service/OrderProducts/" class="kkleft-a">在线订购产品</a>
			</div>
			<div class="HeightTab clearfix"></div>
			<div class="kkleft-hg kkleft-img3">
				<a href="/ZH/Service/FeedBack/" class="kkleft-a">在线技术支持</a>
			</div>
			<div class="HeightTab clearfix"></div>
			<div class="kkleft-hg kkleft-img5">
				<a href="/ZH/Service/AfterSale/" class="kkleft-a">在线售后服务</a>
			</div>
			<div class="HeightTab clearfix"></div>
			<div class="kkleft-hg kkleft-img7">
				<a href="/ZH/Service/PF/Catalog/" class="kkleft-a">索取最新型录</a>
			</div>
			<div class="HeightTab clearfix"></div>
			<div class="kkleft-hg kkleft-img9">
				<a href="/ZH/Service/PF/Journal/" class="kkleft-a">北联电子期刊</a>
			</div>
		</div>
	</div>
	<!--left end-->



	<!--right start-->
	<div class="right">
		<div class="Position" align="right">
			<span>您的位置：
				
				<a href="/">首页</a> > 
				{if $catid=='111'}
					<span>{$catname}</span></span>
				{else}
					{pc:get sql="SELECT arrparentid FROM u_category WHERE catid=$catid" num="1"}
					<?php 
					$data_str1 = str_replace('0,17,','',$data[0]['arrparentid']);
					$data_str2 = str_replace('0,17','',$data_str1);
					?>
						{if !empty($data_str2)}
						<?php $dat = explode(',',$data_str2); ?>
							{loop $dat $r}
								{pc:get sql="SELECT url,catname FROM u_category WHERE catid=$r" num="1" return="d"}
									<a href="{$d[0]['url']}">{$d[0]['catname']}</a> > 
								{/pc}
							{/loop}
						{/if}
					{/pc}

					{if !empty($catname)}
						<a href='{$url}'>{$catname}</a>
					{else}
						{pc:get sql="SELECT url,catname FROM u_category WHERE catid=$catid" num="1"}
							{if isset($data[0]['catname'])}
							<a href="{$data[0]['url']}">{$data[0]['catname']}</a>
							{/if}
						{/pc}
					{/if}
				{/if}
			</span>

		</div>