<!--body start-->
<div id="body">
	<!--focus start-->
	<div id="InnerBanner">

	</div>
	<!--foncus end-->
	<div class="HeightTab clearfix"></div>
	<!--inner start -->
	<div class="inner">


	<!--left start-->
	<div class="left">
		<div class="Sbox">
			<div class="kong"></div>

			{php $ZHpar = '0,22';}

				{pc:get sql="SELECT catid,arrparentid,catname,catdir FROM u_category WHERE catid=$catid" num="1" return="parCat"}	
				<?php 
				$parCat_str1 = str_replace($ZHpar.',','',$parCat[0]['arrparentid']);
				$parCat_str2 = str_replace($ZHpar,'',$parCat_str1);
				?>
					{if !empty($parCat_str2)}
						<?php 
						$dat = explode(',',$parCat_str2); 
						$parCatid = $dat[0];
						?>
						{pc:get sql="SELECT catid,catname,catdir FROM u_category WHERE catid=$parCatid" num='1'}
							<div class="topic"> {$data[0]['catname']}
								<span style="font-size: 13px;color: #999999;">{$data[0]['catdir']}</span>
							</div>
						{/pc}
					{else}
					<div class="topic"> {$parCat[0]['catname']} 
						<span style="font-size: 13px;color: #999999;">{$parCat[0]['catdir']}</span>
					</div>
					{/if}
				{/pc}

		    {if $parCat[0]['catid']==25 OR $data[0]['catid']==25}
		    <div class="ClassNav">
		    	<div class="NavTree">
		    	<ul>
		    		{if isset($parCatid) And !empty($parCatid) }
			    		{php $arrPar = $ZHpar.','.$parCatid;}
			    		{pc:get sql="SELECT catid,catname,url,child,arrchildid FROM u_category WHERE arrparentid='$arrPar' ORDER BY listorder ASC" num="8"}
			    		{loop $data $v}
							<li style="overflow: hidden;" {if $v['catid']==$catid} class='current' {/if}>
				    			<a href="{$v['url']}" title="{$v['catname']}">{$v['catname']}</a>
				    			{if ($v['child']==1) And ($v['catid']==$catid OR in_array($catid,explode(',',$v['arrchildid'])))}
				    			{php $thisCatid = $v['catid'];}
				    			{pc:get sql="SELECT catid,catname,url FROM u_category WHERE parentid='$thisCatid' ORDER BY listorder ASC" num="8" return="dat"}
				    			<ul>
				    			{loop $dat $r}
				    			<li style="overflow: hidden;" {if $r['catid']==$catid} class='current' {/if}><a href="{$r['url']}" title="{$r['catname']}">{$r['catname']}</a></li> 
				    			{/loop}			    			
				    			</ul>
				    			{/pc}	
				    			{/if}
				    		</li> 
						{/loop}
			    		{/pc}
		    		{/if}
		    	</ul>
		    	</div>
		    </div>
		    {else}
		    <div class="blank">
		    	<ul>
		    		{if isset($parCatid) And !empty($parCatid) }
			    		{php $arrPar = $ZHpar.','.$parCatid;}
			    		{pc:get sql="SELECT catid,catname,url,child FROM u_category WHERE arrparentid='$arrPar' ORDER BY listorder ASC" num="8"}
			    		{loop $data $v}
							<li style="overflow: hidden;" {if $v['catid']==$catid} class='current' {/if}>
				    			<a href="{$v['url']}" title="{$v['catname']}">{$v['catname']}</a>
				    		</li> 
						{/loop}
			    		{/pc}
		    		{/if}
		    	</ul>
		    </div>
		    {/if}

	    </div>
        <div class="Sbox">
        	<div class="kong2"></div>
            <a href="/EN/Service/OrderProducts/">
              <img src="{IMG_PATH}home/left_en_01.jpg" border="0" />
            </a>
			<div class="HeightTab clearfix"></div>
			<a href="/EN/Service/FeedBack/">
			  <img src="{IMG_PATH}home/left_en_03.jpg" border="0" />
			</a>
			<div class="HeightTab clearfix"></div>
			<a href="/EN/Service/AfterSale/">
			  <img src="{IMG_PATH}home/left_en_05.jpg" border="0" />
			</a>
			<div class="HeightTab clearfix"></div>
			<a href="/EN/Service/PF/Catalog/">
			  <img src="{IMG_PATH}home/left_en_07.jpg" border="0" />
			</a>
			<div class="HeightTab clearfix"></div>
			<a href="/EN/Service/PF/Journal/">
			  <img src="{IMG_PATH}home/left_en_09.jpg" border="0" />
			</a>
		</div>
	</div>
	<!--left end-->



	<!--right start-->
	<div class="right">
		<div class="Position" align="right">
			<span>Your Location：
				
				<a href="/EN/">HOME</a> > 
				{pc:get sql="SELECT arrparentid FROM u_category WHERE catid=$catid" num="1"}
				<?php 
				$data_str1 = str_replace('0,22,','',$data[0]['arrparentid']);
				$data_str2 = str_replace('0,22','',$data_str1);
				?>
					{if !empty($data_str2)}
					<?php $dat = explode(',',$data_str2); ?>
						{loop $dat $r}
							{pc:get sql="SELECT url,catname FROM u_category WHERE catid=$r" num="1" return="d"}
								<a href="{$d[0]['url']}">{$d[0]['catname']}</a> > 
							{/pc}
						{/loop}
					{/if}
				{/pc}
				
				{if !empty($catname)}
					<a href='{$url}'>{$catname}</a></span>
				{else}
					{pc:get sql="SELECT url,catname FROM u_category WHERE catid=$catid" num="1"}
						{if isset($data[0]['catname'])}
						<a href="{$data[0]['url']}">{$data[0]['catname']}</a></span>
						{/if}
					{/pc}
				{/if}
		</div>