{template "content","header"}

{template "content","left_header"}


<!--main start-->
<div class="main">

<!--content start-->
<div class="content">
<div class="MorePro">
<div class="CaseBlock">

    <div class="TitleType">
    {php $defaultSize=0;}
        {pc:get sql="SELECT id,filesize FROM `u_download` where catid=$catid GROUP BY filesize ORDER BY filesize DESC" num="25"}
        {php $i=0;}
        {loop $data $r}
        {php $i++;}
        {php $width=(int)(100/count($data));}
        <?php if($i==1){ $defaultSize=$r['filesize']; } ?>
        {php $idval=str_replace('.','-',$r['filesize']);}
        <a id="id{$idval}" onclick="getPro({$r['filesize']})" style="width:{$width}%;" {if $i==1} class="Typediv" {else} class="Typediv2" {/if}>
            {$r['filesize']}寸
        </a>
        {/loop}
        {/pc}
    </div>

    <div style="border-top: 1px solid #005bac; height:25px;"></div>

    <div class="list-cls">

        {if $defaultSize!=0} 
        {pc:get sql="SELECT a.id,a.url,a.title,a.thumb,a.model,b.content FROM u_download AS a LEFT JOIN u_download_data AS b ON a.id=b.id WHERE a.catid=$catid AND a.filesize=$defaultSize ORDER BY a.id DESC" num="200"}
        {loop $data $r}
        <div class="albumblock">
            <div class="inner">
                <a href="{$r['url']}" target="_blank" title="{$r['title']}">
                    <img src="{$r['thumb']}">
                </a>
            </div>
            <div class="title">
                <a href="{$r['url']}" target="_blank">{$r['model']}</a>
            </div>
            <div class="title">{$r['title']}</div>
            <div class="content">{$r['content']}</div>
        </div>
        <div style="height:25px;"></div>
        <div style="border-top: 1px dotted #999999; height:25px;"></div>
        {/loop}
        {/pc}
        {/if}           

    </div>      

</div>
<div class="clearfix"></div>

</div>

</div>
<!--content end-->

</div>
<!--main end-->

<script type="text/javascript">
    function getPro(filesize){
        var catid="<?php echo $catid; ?>";
        var idval=('id'+filesize).replace('.','-');
        $.ajax({
            url:"{APP_PATH}api.php?op=getpro",
            data:{'filesize':filesize,'catid':catid},
            type:"GET",
            success:function(data){
                $(".list-cls").html(data);
                $(".TitleType a").attr('class','Typediv2');
                $("#"+idval).attr('class','Typediv');
            }
        });
    }
</script>

{template "content","left_footer"}

{template "content","footer"}