{template "content","header"}

{template "content","left_header"}

<?php
$q = trim($_GET['q']);
$sql = "SELECT id,url,title,inputtime FROM `u_download` WHERE (title LIKE '%".$q."%' OR model LIKE '%".$q."%') AND catid IN (SELECT catid FROM `u_category` WHERE arrparentid LIKE '0,17,11%') ORDER BY id DESC";
?>
<!--main start-->
<div class="main">

<div class="ArticleList">
    <table  width="100%" border="0" cellspacing="0" cellpadding="0">
        <ul>
        {pc:get sql="$sql" num="25" page="$page"}
        {if $data AND !empty($q)}
        {loop $data $r}
            <tr>
                <td width='90%' class='fw_t'>
                    · <a href='{$r[url]}' target='_blank'>{$r[title]}</a>
                </td>
                <td width='10%' class='fw_s'>[{date('Y-m-d',$r[inputtime])}]</td>
            </tr>
        {/loop}
        {else}
            <tr>
                <td width='90%' class='fw_t'>
                    无数据
                </td>
                <td width='10%' class='fw_s'>&nbsp;</td>
            </tr>
        {/if}
        {/pc}
        </ul>        
    </table>
    <div class="clearfix"></div>
    <div class='t_page ColorLink'>
        {$pages}
    </div>
</div>

</div>
<!--main end-->


{template "content","left_footer"}

{template "content","footer"}