{template "content","header"}

{template "content","left_header"}


<!--main start-->
<div class="main">

<!--content start-->
<div class="content">
<div class="ProInfo">
<div class="product">
    <div class="image">
        {pc:get sql="select images from u_download_data where id=$id" num="1"}
        {php $df_arr = json_decode($data[0]['images'],true); }
        {if isset($df_arr[0]['url'])}
            <a href="{$df_arr[0]['url']}" rel="clearbox" title="{$title}" id="url">
                <img src="{$df_arr[0]['url']}" height="270" width="360" id="img">
            </a>
        {/if}
        {/pc} 
    </div>
    <div class="Imageproduct">

        {pc:get sql="select images from u_download_data where id=$id" num="1"}
        {php $df_arr = json_decode($data[0]['images'],true); }
        {loop $df_arr $k $r}
            {php $currImg = $r['url'];}
            <?php
            if($k==0){
                $cls='class="ImageBlockBG"';
            }else{
                $cls='class="ImageBlockBG2"';
            }
            ?>
            <div {$cls}>
                <div class="ImageBlock">
                    <img src="{$currImg}" alt="{$title}" onmouseover="document.getElementById('img').src='{$currImg}';document.getElementById('url').href='{$currImg}'">
                </div>
            </div>
        {/loop}
        {/pc} 

    </div>
</div>

<div class="column">
<div class="title" style="color:#005bac"><h3>{$model}</h3>{$title}</div>
<div class="infos">更新：{if !empty($updatetime)}{$updatetime}{else}{$inputtime}{/if} 点击：<span id="hits"></span></div>
<div class="content">{$content}</div>
<div style="height: 40px;padding-top: 20px;padding-left: 20px;">
    {pc:get sql="select downfiles from u_download_data where id=$id" num="1"}
    {php $df_arr = json_decode($data[0]['downfiles'],true); }
    {if isset($df_arr[0]['filename'])}
        <?php $down_arr = explode('.',$df_arr[0]['fileurl']); 
        $down_len = count($down_arr)-1; ?>
        <a href="{$df_arr[0]['fileurl']}" target="_blank" download="{$df_arr[0]['filename']}.{$down_arr[$down_len]}"><img src="{IMG_PATH}home/pdf2.jpg" width="31" height="30" align="absmiddle">{$df_arr[0]['filename']}</a>
    {/if}
    {/pc}       

</div>
</div>
<div class="clearfix"></div>
</div>
<div>
<div class="IntroTitle" align="center" id="bdi1" onmouseover="document.getElementById(&#39;tid1&#39;).style.display=&#39;block&#39;;document.getElementById(&#39;tid2&#39;).style.display=&#39;none&#39;;document.getElementById(&#39;tid3&#39;).style.display=&#39;none&#39;;document.getElementById(&#39;tid4&#39;).style.display=&#39;none&#39;;this.className=&#39;IntroTitle&#39;;bdi2.className=&#39;IntroTitle2&#39;;bdi3.className=&#39;IntroTitle2&#39;;bdi4.className=&#39;IntroTitle2&#39;">产品介绍</div>
<div class="IntroTitle3"></div>
<div class="IntroTitle2" align="center" id="bdi2" onmouseover="document.getElementById(&#39;tid2&#39;).style.display=&#39;block&#39;;document.getElementById(&#39;tid1&#39;).style.display=&#39;none&#39;;document.getElementById(&#39;tid3&#39;).style.display=&#39;none&#39;;document.getElementById(&#39;tid4&#39;).style.display=&#39;none&#39;;this.className=&#39;IntroTitle&#39;;bdi1.className=&#39;IntroTitle2&#39;;bdi3.className=&#39;IntroTitle2&#39;;bdi4.className=&#39;IntroTitle2&#39;">产品规格</div>
<div class="IntroTitle3"></div>
<div class="IntroTitle2" align="center" id="bdi3" onmouseover="document.getElementById(&#39;tid3&#39;).style.display=&#39;block&#39;;document.getElementById(&#39;tid1&#39;).style.display=&#39;none&#39;;document.getElementById(&#39;tid2&#39;).style.display=&#39;none&#39;;document.getElementById(&#39;tid4&#39;).style.display=&#39;none&#39;;this.className=&#39;IntroTitle&#39;;bdi1.className=&#39;IntroTitle2&#39;;bdi2.className=&#39;IntroTitle2&#39;;bdi4.className=&#39;IntroTitle2&#39;">订购信息</div>
<div class="IntroTitle3"></div>
<div class="IntroTitle2" align="center" id="bdi4" onmouseover="document.getElementById(&#39;tid4&#39;).style.display=&#39;block&#39;;document.getElementById(&#39;tid1&#39;).style.display=&#39;none&#39;;document.getElementById(&#39;tid2&#39;).style.display=&#39;none&#39;;document.getElementById(&#39;tid3&#39;).style.display=&#39;none&#39;;this.className=&#39;IntroTitle&#39;;bdi1.className=&#39;IntroTitle2&#39;;bdi2.className=&#39;IntroTitle2&#39;;bdi3.className=&#39;IntroTitle2&#39;">驱动程序</div>
<div class="IntroTitle4"></div>
</div>
<div class="maincontent clearfix">
<div class="tid" id="tid1" style="display: block;">
{$introduce}
</div>
<div class="tid" id="tid2" style="display:none;">
{$specs}
<br>
<br>
</div>
<div class="tid" id="tid3" style="display: none;">
{$order}
</div>
<div class="tid" id="tid4" style="display:none;">   

    {pc:content action="relation" relation="$relation" id="$id" catid="$catid" num="5" keywords="$rs[keywords]"}
          {if $data}
            <table width="100%" border="0" cellspacing="1" cellpadding="0">
                <tbody>
                    <tr>
                        <td height="24" align="center" bgcolor="#C8E3FF" style="font-size: 13px">名 称</td>
                        <td align="center" bgcolor="#C8E3FF" style="font-size: 13px">大 小</td>
                        <td align="center" bgcolor="#C8E3FF" style="font-size: 13px">操作系统</td>
                        <td align="center" bgcolor="#C8E3FF" style="font-size: 13px">日 期</td>
                        <td align="center" bgcolor="#C8E3FF" style="font-size: 13px">下 载</td>
                    </tr>
                    {loop $data $r}
                        <tr>
                            <td height="24" align="center" bgcolor="#ffffff" style="font-size: 13px">{$r[title]}</td>
                            <td align="center" bgcolor="#ffffff" style="font-size: 13px">{$r[filesize]}</td>
                            <td align="center" bgcolor="#ffffff" style="font-size: 13px">{$r[systems]}</td>
                            <td align="center" bgcolor="#ffffff" style="font-size: 13px">{$r[updatetime]}</td>
                            <td align="center" bgcolor="#ffffff" style="font-size: 13px">
                                <a href="{$r[url]}" target="_blank">进入下载页面<img src="{IMG_PATH}home/dc.gif" width="16" height="16" border="0" align="absmiddle"></a>
                            </td>
                        </tr>
                    {/loop}
                </tbody>
            </table>
          {/if}
      {/pc}

</div>
</div>

</div>
<!--content end-->

</div>
<!--main end-->

<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>

{template "content","left_footer"}

{template "content","footer"}