{template "content","header_en"}

{template "content","left_header_en"}


      <!--main start-->
      <div class="main">

        <!--content start-->
        <div class="content">
            <div class="title"><h3>{$title}</h3></div>
            <div style="height:20px;"></div>
            <div class="maincontent clearfix">
                <table id="table1" class="ke-zeroborder" border="0" cellspacing="1" cellpadding="15" width="100%" bgcolor="#cccccc">
                    <tbody>
                        <tr>
                            <td bgcolor="#ffffff">
                                Product Model：
                                {pc:content action="relation" relation="$relation" id="$id" catid="$catid" num="1" keywords="$rs[keywords]"}
                                  {if $data}
                                    {loop $data $r}
                                        <a href="{$r['url']}" target="_blank">{$r['title']}</a>
                                    {/loop}
                                  {/if}
                                {/pc}                              
                                <br />
                                Country/City：{$city}<br />
                                Date：{$prodate}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                {$content}
            </div>


          <div class="prenext">
            <ul>
                <li>
                    The previous article：
                    {if $previous_page[title]=="第一页"} 
                        First page 
                    {else}
                        <a href="{$previous_page[url]}" target='_blank' title='{$previous_page[title]}'>{$previous_page[title]}</a>
                    {/if}
                </li>
                <li>
                    The next article：
                    {if $next_page[title]=="最后一页"} 
                        Last page 
                    {else}
                        <a href="{$next_page[url]}" target='_blank' title='{$next_page[title]}'>{$next_page[title]}</a>
                    {/if}
                </li>
            </ul>
          </div>

         
        </div>
        <!--content end-->

        </div>

        <!--main end-->

<script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>

{template "content","left_footer_en"}

{template "content","footer_en"}